<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.bilibili.model.domain.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isValid" column="isValid" jdbcType="TINYINT"/>
        <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,phone,email,
        userPassword,salt,createTime,
        updateTime,isValid,isDeleted
    </sql>
    <update id="updateUser" parameterType="com.bilibili.model.domain.User">
        update t_user
        set
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="email != null and email != ''">
            email = #{email},
        </if>
        updateTime = #{updateTime}
        where id = #{id}
    </update>
    <update id="deleteRefreshToken">
        update t_refresh_token
        set isDeleted = 1
        where refreshToken = #{refreshToken}
    </update>
    <select id="getRefreshTokenDetail" parameterType="java.lang.String" resultType="com.bilibili.model.domain.RefreshToken">
        select * from t_refresh_token
        where refreshToken = #{refreshToken}
    </select>

    <insert id="addRefreshToken">
        insert into t_refresh_token
            (refreshToken, userId)
        values (#{refreshToken}, #{userId})
    </insert>
</mapper>
