<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.bilibili.model.domain.UserInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="nick" column="nick" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="sign" column="sign" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="birth" column="birth" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,userId,nick,
        avatar,sign,gender,
        birth,createTime,updateTime,
        isDeleted
    </sql>
    <update id="updateUserInfo" parameterType="com.bilibili.model.domain.UserInfo">
        update t_user_info
        set
        <if test="nick != null and nick != ''">
            nick = #{nick},
        </if>
        <if test="avatar != null and avatar != ''">
            avatar = #{avatar},
        </if>
        <if test="sign != null and sign != ''">
            sign = #{sign},
        </if>
        <if test="birth != null and birth != ''">
            birth = #{birth},
        </if>
        <if test="gender != null">
            gender = #{gender}
        </if>
        updateTime = #{updateTime}
        where userId = #{userId}
    </update>
    <select id="getByUserIds" resultType="com.bilibili.model.domain.UserInfo">
        select *
        from t_user_info
        <where>
            <if test="userIds != null and userIds.size > 0">
                and userId in
                <foreach collection="userIds" item="userId" index="index" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
