<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.mapper.VideoCommentMapper">

    <resultMap id="BaseResultMap" type="com.bilibili.model.domain.VideoComment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="videoId" column="videoId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="replyUserId" column="replyUserId" jdbcType="BIGINT"/>
            <result property="rootId" column="rootId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,videoId,userId,
        comment,replyUserId,rootId,
        createTime,updateTime,isDeleted
    </sql>
</mapper>
